.button-style{
    width: 100%;
    height: 48px;
    background-color: #00F3BB;
    @include font-ibm-plex-mono-medium;
    text-transform: uppercase;
    font-size: 16px;
    color: $color-text-dark;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    &:hover{
        background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
        color: $color-back-light;
    }
    @include media-desktop{
        width: 226px;
        height: 56px;
        font-size: 18px;
        line-height: 24px;
    }
}